services:
  app:
    build: .
    ports:
      - "127.0.0.1:8080:8080"
    container_name: "app"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8080/swagger" ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s